CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vimrc
.vim/
.vscode/
compile_commands.json
obj/
build/
bin/
*.tmp
*.o
*.bin
